@{
    ViewData["Title"] = "Home Page";
}

<div>
    <!-- NOTE: signup button still needs connection to page-->
    <button type="button" class="btn btn-primary mb-2 text-center">Sign Up</button>

    <h1>Layton Utah Temple Tours</h1>

    <img src="https://images.unsplash.com/photo-1614068815265-0b3fff8a2dc7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80"
         alt="lds temple"
         width="100%"
         class="text-center mb-3 mt-3" />

    <p>Use the "quantity" field to let us know how many people will be in your group. Thank you!</p>

    <p>We can only add a limited number of tours at this time. They will be removing the visitors center soon so that they can complete the landscaping. When the trailer is gone, we anticipate being able to talk to groups on the lawn of the church across the street or at the Morgan's backyard. We are trying to facilitate as many groups as possible, so please only sign-up when you can commit to coming on the selected date and time. We have a lot of last minute cancelations.</p>

    <p>We can do groups on Saturday, please text me at 801-628-4488.</p>

    <h2>General Tour Instructions:</h2>
    <ul>
        <li>
            Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer.
        </li>
        <li>
            Dress casual, except on Sunday
        </li>
    </ul>

    <h2>Special Accommodations:</h2>
    <ul>
        <li>Spanish-speaking tours are available, by request.</li>
    </ul>

    <h2>Available Tours:</h2>
    <ul>
        <li>
            Tour (Outdoor): We will walk on the sidewalk along Oak Hills and on Rosewood in front of the temple on uneven surfaces; please wear sturdy shoes
        </li>
        <li>
            Trailer Tour: On Sunday. Masks are required
        </li>
    </ul>

    <small>
        Please call or text 801-628-4488 with questions or special requests.
    </small>
</div>
