@{
    ViewData["Title"] = "Sign Up";
}

@model List<TimeSlot>

<h1>Sign Up</h1>



@foreach (var b in Model)
{
    <a class="btn btn-primary btn-lg btn-block" asp-controller="Home" asp-action="AppointmentForm" asp-route-timeslotid="@b.TimeSlotID">@b.AppointmentTime</a>
                
    @*<form class="pt-2" method="get" asp-action="AppointmentForm" asp-controller="Home">
        <input type="hidden" name="timelslotid" value="@b.TimeSlotID" />
        <button type="submit" class="btn btn-primary btn-lg btn-block">@b.AppointmentTime</button>
    </form>*@
}

