@{
    ViewData["Title"] = "Sign Up";
}
@model List<TimeSlot>


<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Time</th>
        </tr>
    </thead>


    <tbody>
        @foreach (var a in Model)
        {

            <tr>
                <td>@a.AppointmentTime</td>
                <td><a class="btn btn-secondary" asp-controller="Home" asp-action="AppointmentForm" asp-route-timeslotid="@a.TimeSlotID">Sign Up</a></td>

            </tr>
        }

        </tbody>
</table>



