@{
    ViewData["Title"] = "Sign Up";
}

@model List<TimeSlot>

<h1>Sign Up</h1>

<form class="pt-2" method="post" asp-page="/AppointmentForm">
    @*<input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />*@

    <span class="card-text">
        @foreach (var a in Model)
        {
            <button type="submit"
                    class="btn btn-primary btn-lg btn-block"
                    asp-controller="Home"
                    asp-action="AppointmentForm"
                    asp-route-timeslotid="@a.TimeSlotID">@a.AppointmentTime</button>
        }
    </span>
</form>